@import "tailwindcss";

body {
  @apply m-0 min-h-screen;
}

#widget-root {
  @apply fixed w-full h-full font-sans bg-white/10 select-none;
}

#widget-root.hide-background {
  @apply !bg-transparent;
}
